.nav-menu {
  position: relative;
  top: 20px;
  opacity: 0;
}

.logo {
  font-size: 48px;
  position: relative;
  top: -15px;
}

.logo-light {
  color: white;
}

.logo-dark {
  color: black;
}

.header-icon {
   font-size: 60px;
}

.highlights {
  padding-top: 300px;
}

.team-1-member {
  position: relative;
  top: 60px;
  opacity: 0;
}

.experience {
  padding-top: 300px;
}

.skill-capacity {
  width: 0;
}

.device {
  position: relative;
  top: 535px !important;
}

.mac {
  width: 768px;
  left: 27%;
}

.iphone {
  left: 17%;
  width: 210px;
}


/*
  Project Work Image Sizing
*/

.netsuite {
  background-size: 75% !important;
  background-repeat: no-repeat !important;
}
.kompas-platform {
  background-size: 70% !important;
  background-repeat: no-repeat !important;
}
.general-assembly {
  background-size: 50% !important;
  background-repeat: no-repeat !important;
}
.kompas-mockup {
  background-size: 90% !important;
  background-repeat: no-repeat !important;
}
.grover {
  background-size: 55% !important;
  background-repeat: no-repeat !important;
}
.ourxstory {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

ul .left-align {
  text-align: left;
  padding-left: 24%;
}

.center-align {
  text-align: center;
}

.resume-header {
  padding-top: 270px;
  padding-bottom: 310px;
}

.header-name {
  position: relative;
  font-size: 58px;
}

.header-title {
  position: relative;
  top: -100px;
}

.header-skills {
  position: relative; 
  top: 50px;
}

.header-col {
  position: relative;
  top: 50px;
  opacity: 0;
}

/* The animation code */
@keyframes example {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes example92 {
    from {width: 0%;}
    to {width: 91%;}
}
@keyframes example75 {
    from {width: 0%;}
    to {width: 75%;}
}
@keyframes example59 {
    from {width: 0%;}
    to {width: 59%;}
}
@keyframes example50 {
    from {width: 0%;}
    to {width: 50%;}
}

.animate_100 {
    animation-name: example;
    animation-duration: 4s;
}

.animate_92 {
    animation-name: example92;
    animation-duration: 4s;
}
.animate_75 {
    animation-name: example75;
    animation-duration: 4s;
}
.animate_59 {
    animation-name: example59;
    animation-duration: 4s;
}
.animate_50 {
    animation-name: example50;
    animation-duration: 4s;
}

/*
  Typewriter Animation
*/

.blocker {
  display: inline-block;
  opacity: 0;
}

.line-1 {
  position: relative;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,0);
  text-align: center;
  font-size: 100% !important;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.line-2 {padding-right: 0;}

/* Animation */
.anim-typewriter{
  animation: typewriter 1s steps(20) 1 normal both,
             blinkTextCursor 500ms steps(44) 3 normal;
}
.anim-typewriter2{
  animation: typewriter 1.5s steps(30) 1.5s 1 normal both,
             blinkTextCursor 500ms steps(44) 1.5s infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}



/*
  Device breakpoints
*/

@media screen and (max-width: 1440px) {
  .header-skills {top: 0;}
  .line-1 {top: -30px;}
}

@media screen and (max-width: 1280px) {
  .mac {left: 21%;}
  .iphone {left: 6%;}
  .header-skills {top: -55px;}
  .line-1 {top: -75px;}
}

@media screen and (max-width: 768px) {
  .nav-menu {display: none;}
}

@media screen and (max-width: 480px) {
  .header-col {margin-bottom: 60px;}
  .header-icon {font-size: 42px;}
  .header-h2 {font-size: 20px;}
  .iphone {
    width: 300px;
    top: 400px;
    left: 15%;
  }
  .mac {
    display: none;
    width: 0;
  }
  .header-title {top: -5px;}
  ul .left-align {
    text-align: center;
    padding-left: 0;
  }
  .text-content {text-align: left;}
  .icon-move-left {
    position: relative;
    left: 10px;
  }
  .line-1 {top: -60px;}
  .line-2 {font-size: 75% !important;}
  .top-bar {background: none;}
  .nav-container .top-bar .container {height: 100px;}
  .mobile-toggle ul {
    position: relative;
    top: 20px;
    opacity: 0;
    display: flex;
    flex-direction: row;
  }
  .mobile-icon {
    color: #fff;
    font-size: 18px;
    padding: 16px;
  }
}

@media screen and (max-width: 375px) {
  .iphone {left: 10%;}
  .icon-move-left {
    position: relative;
    left: 11px;
  } 
  .line-1 {font-size:  90% !important;}
  .line-2 {font-size: 75% !important;}
}

@media screen and (max-width: 320px) {
  .iphone {
    left: 3%;
    top: 50% !important;
  }
  .icon-move-left {
    position: relative;
    left: -10px;
  }
  .line-1 {
    font-size: 80% !important;
    top: -80px;
  }
  .line-2 {font-size: 65% !important;}
}
