* {
  border: 1px solid red;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  background-color: #F5F5F5;
}

img {
  width: 100%;
}






/*
  Masthead styles
*/

.masthead {
  width: 100%;
  height: 100%;
}

#profile {
  width: 25%;
  border-radius: 100%;
}


/*
  Section styles
*/

header {
  text-align: center;
}

section {
  padding: 40px 0 60px;
}

p {
  padding: 20px;
}

h3 {
  padding: 20px;
}

.center {
  text-align: center;
}
.big {
  display: inline;
  font-size: 2.4em;
  letter-spacing: -4px;
}
.pStyle {
  font-size: 1.3em;
  letter-spacing: 1px;
  line-height: 28px;
}


/*
  Section Image
*/

.section-image {
  text-align: center;
  position: relative;
  top: 50%;
}

.divider {
  padding-bottom: 50px;
  margin: 150px 0;
}




/*
  Footer styles
*/

footer {
  margin-top: 60px;
}

.footer-list {
  text-align: center;
  margin-top: 10px;
}
.footer-list li {
  display: inline-block;
  padding: 0 30px;
}
.footer-text {
  text-align: center;
}

















/* 
  NAVBAR STYLING
*/
nav {
    width: 100%;
    height: 120px;
    z-index: 1;
}
.default {
    top: 0;
}
.fixed {
    top: -120px;
}
.nav {
  margin-top: 55px;
}
.nav-list {
  text-align: center;
  margin-top: 20px;
}
.nav-list li {
  display: inline-block;
  font-size: 1.4em;
  padding: 0 24px;
}
#logo {
  margin: 0;
  text-align: center;
}



.headroom {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transition: .7s
    -o-transition: .7s
    -moz-transition: .7s
    -ms-transition: .7s
    transition: transform .7s ease-in-out;
}
.headroom--unpinned {
    top: -120px;
  -webkit-transition: .7s;
  -o-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  transition: .7s;
  -webkit-transform: translateY(-120px);
  -o-transform: translateY(-120px);
  -moz-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
}

.headroom--pinned {
   top: 0;
  -webkit-transition: .7s;
  -o-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  transition: .7s;
}