.logo {
  font-size: 48px;
  position: relative;
  top: -15px;
}

.logo-light {
  color: white;
}

.logo-dark {
  color: black;
}

.header-icon {
   font-size: 60px;
}

.highlights {
  padding-top: 300px;
}

.experience {
  padding-top: 300px;
}

.skill-capacity {
  width: 0;
}

.device {
  position: relative;
}

.mac {
  top: 525px;
  width: 768px;
  left: 27%;
}

.iphone {
  left: 17%;
  width: 210px;
  top: 560px;
}

ul .left-align {
  text-align: left;
  padding-left: 24%;
}

.center-align {
  text-align: center;
}

.resume-header {
  padding-top: 340px;
  padding-bottom: 240px;
}

.header-name {
  position: relative;
  top: -155px;
  font-size: 58px;
}

.header-title {
  position: relative;
  top: -100px;
}

.header-skills {
  position: relative; 
  top: -68px;
}

/* The animation code */
@keyframes example {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes example92 {
    from {width: 0%;}
    to {width: 91%;}
}
@keyframes example75 {
    from {width: 0%;}
    to {width: 75%;}
}
@keyframes example59 {
    from {width: 0%;}
    to {width: 59%;}
}
@keyframes example50 {
    from {width: 0%;}
    to {width: 50%;}
}

.animate_100 {
    animation-name: example;
    animation-duration: 4s;
}

.animate_92 {
    animation-name: example92;
    animation-duration: 4s;
}
.animate_75 {
    animation-name: example75;
    animation-duration: 4s;
}
.animate_59 {
    animation-name: example59;
    animation-duration: 4s;
}
.animate_50 {
    animation-name: example50;
    animation-duration: 4s;
}


/*
  Device breakpoints
*/

@media screen and (max-width: 1280px) {
  .mac {
    left: 21%;
  }
  .iphone {
    left: 6%;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .header-col {
    margin-bottom: 60px;
  }
  .header-icon {
    font-size: 42px;
  }
  .header-h2 {
    font-size: 20px;
  }
  .device {
    left: 77%;
  }
  .iphone {
    width: 300px;
    top: 400px;
  }
  .mac {
    display: none;
    width: 0;
  }
  .header-name {
    top: -80px;
  }
  .header-title {
    top: -5px;
  }
  .header-skills {
    top: 70px;
  }
  ul .left-align {
    text-align: center;
    padding-left: 0;
  }
  .icon-move-left {
    position: relative;
    left: -18px;
  }
}

@media screen and (max-width: 375px) {
  .device {
    left: 81%;
  }
  .icon-move-left {
    position: relative;
    left: 11px;
  } 
}

@media screen and (max-width: 320px) {
  .device {
    left: 84%;
  }
  .icon-move-left {
    position: relative;
    left: -1px;
  }
}