.zBelow { z-index: -1; }
.vertical-line {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: black;
  top: 0;
  right: 0;
  z-index: 1;
}
.page-header {
  padding-left: 100px;
}
.parallax-container.top-para {
  height: 750px !important;
  z-index: 1;
  top: -125px;
  /*margin-top: -240px;*/
}
.overlay {
  background: rgba(0,0,0,.5);
  z-index: 62;
  width: 100%;
  height: 100%;
}
.parallax-container.top-para img {
  width: 0px;
  z-index: -1;
}
.parallax-container.bottom-para {
  top: -30px;
  z-index: 2;
}
#head-1 {
  position: absolute;
  left: 200px;
  z-index: 2;
  left: 42%;
  top: 40%;
  font-size: 82px;
  font-weight: 500;
  color: #303F9F;
}
.container {
  z-index: 2;
}
/*
  ABOUT SECTION
*/
.page-header.about-header {
  position: relative;
  /*top: -75px;*/
}
.about-text {
  width: 46%;
  float: right;
  position: relative;
  /*top: -400px;*/
  color: white;
  z-index: 2;
}


/*
  SKILL SECTION
*/
.container.skill {
  position: relative;
  top: -230px;
}
.skill-header {
  position: relative;
  top: -300px;
}
.skill-image {
  text-align: center;
  position: relative;
}
.skill-image img {
  width: 400px;
  height: 260px;
}
.web-design {
  float: left;
}
.skill-image.design {
  float: right;
  position: relative;
  left: 185px;
  top: -64px;
}
.web-dev {
  float: right;
}
.skill-image.dev {
  float: left;
  position: relative;
  left: -115px;
  top: -38px;
}
.web-dev-text {
  position: relative;
  left: 64px;
  top: -25px;
  color: white;
}
.web-design-text {
  position: relative;
  left: -50px;
}


/*
  WORK SLIDER SECTION
*/
.container.work {
  position: relative;
}
.page-header.work-header {
  position: relative;
  top: -130px;
}
.work-img img {
  position: absolute;
  top: -100px;
  left: -88px;
  width: 500px;
  height: 400px;
}
.slide-header {
  position: relative;
  top: -240px;
  left: 500px;
  color: white;
}
.slide-text {
  width: 50%;
  position: relative;
  float: right;
  top: -190px;
  left: 50px;
  color: white;
}


/*
  CONTACT SECTION
*/
.container.contact-container {
  position: relative;
  top: 30px;
  height: 680px;
}
.contact-text {
  width: 330px;
  position: relative;
  top: 70px
}
#contactForm {
  float: right;
}
#contactForm h5 {
  margin-bottom: 32px;
}
.socials {
  display: inline-block;
}
.socials img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}
.social-text {
  position: relative;
  top: -18px;
}
.btn.submit {
  float: right;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}